{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": "off",
    "jsx-a11y/anchor-is-valid": [ "off", {
      "components": [ "Link" ]
    }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}